<% if (current_user) { %>
  <nav>
    <form class="form-layout-row">
      <ul class="button-list">
        <li><button type="submit" class="button" formaction="/<%= user.username %>/<%= entry.id %>?_method=DELETE" formmethod="POST">Delete</button></li>
        <li><a href="/<%= user.username %>/<%= entry.id %>/editor" class="button">Edit</a></li>
        <li><a href="/<%= user.username %>/<%= entry.id %>/tags" class="button">Tags</a></li>
      </ul>
    </form>
  </nav>
<% } %>