<% if ( current_user && current_user.id === user.id ) { %>
  <% console.log(current_user) %>
<h2>Hi <%= user.display_name %></h2>
<% } else { %>
<h2><%= user.full_name %></h2>
<% } %>
<nav class="nav-entry-sort">
  <form action="/<%= user.username %>" method="GET">
    <label for="radio-sort-date-ascending">Date Ascending<input id="radio-sort-date-ascending" value="ASC" type="radio" name="date_sort">
    <label for="radio-sort-date-descending">Date Descending<input id="radio-sort-date-descending" value="DESC" type="radio" name="date_sort">
    <button type="submit">Sort</button>
</nav>
<% for (entry of entries) { %>
  <article class="entry-card">
    <h3><%= entry.title %></h3>
    <p><%= entry.body %></p>
    <p><%= entry.date_time %></p>
    <ul class="tag-list">
      <% for (tag of entry.tags) { %>
        <li class="tag tag-<%= tag.colors.name %>" ><%= tag.name %></li>
      <% } %>
    </ul>
  </article>
<% } %>