<%# ---- Journal Entry Card ----- %>
<% if (image !== null) { %>
  <article class="card" style="background-image: url('<%= image.image_source.url %><%= image.asset_id %>')">
<% } else { %>
  <article class="card">
<% } %>
  <header>
    <h3><%= entry.title %></h3>
    <% if (entry.tags.length > 0) { %>
      <%# Include a list of tags assigned to an entry %>
      <%- include("entry-tags", { tags: entry.tags }) %>
    <% } %>
  </header>
  <section class="flex-row flex-top navigation">
    <%# Include Entry date %>
    <%- include ("entry-date", { entry: entry }) %>
    <p class="button-icon"><a aria-label="Share Journal Entry" href="/<%= user.username %>/<%= entry.id %>"><span class="fi fi-rr-upload"></span></a></p>
  </section>
</article>