<%# Display a list of tags assigned to a specific color %>

<ul class="tag-list">
  <% for (let tag of color.tags) { %>
    <li class="tag tag-<%= color.name %>">
      <form data-is-tag class="form-layout-row">
        <input type="text" value="<%= tag.name %>" name="tag_name"/>
        <button data-button-delete class="button-clear button-round button-circle-small" formaction="/<%= user.username %>/tags/<%= tag.id %>?_method=DELETE"" formmethod="post">D</button>
        <button class="button-clear button-round button-circle-small" formaction="/<%= user.username %>/tags/<%= tag.id %>?_method=PUT" formmethod="post">S</button>
      </form>
    </li>
  <% } %>
</ul>